!*.java
Camera/.gitignore
Camera/app/.gitignore
Camera/gradle/
Camera/build.gradle
Camera/gradle.properties
Camera/gradlew
Camera/gradlew.bat
Camera/local.properties
Camera/settings.gradle
Camera/app/build/
Camera/app/proguard-rules.pro
Camera/app/src/androidTest/
Camera/app/src/test/
Camera/app/src/main/res/drawable/
Camera/app/src/main/res/drawable-v24/
Camera/app/src/main/res/mipmap*/
Camera/app/src/main/res/values/
Camera/app/src/main/res/values-night/

Oboea/.gitignore
Oboea/app/.gitignore
Oboea/gradle/
Oboea/build.gradle
Oboea/gradle.properties
Oboea/gradlew
Oboea/gradlew.bat
Oboea/local.properties
Oboea/settings.gradle
Oboea/app/build/
Oboea/app/proguard-rules.pro
Oboea/app/src/androidTest/
Oboea/app/src/test/
Oboea/app/src/main/res/drawable/
Oboea/app/src/main/res/drawable-v24/
Oboea/app/src/main/res/mipmap*/
Oboea/app/src/main/res/values/
Oboea/app/src/main/res/values-night/

